<strong>Olá, {{ student }}</strong>
<p>Você acaba de se matricular em nossa academia, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Período: </strong> {{ period }} <br />
  <strong>Qtd Parcelas: </strong> {{ duration }} <br />
  <strong>Valor Parcela: </strong> {{ price_unit }} <br />
  <strong>Valor Total: </strong> {{ price_total }} <br />
  <div style="
    display: table-cell;
	  background-color: lightgreen;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold">Inscrição</div>
  <br />
  <small>
    Seja bem-vindo. Esperamos que aproveite a nossa estrutura.
  </small>
</p>
